<div class="container__about m-5">
  <div class="about__title">About Me</div>
  <!-- <div class="about__title--sub">Main Informations About Me And What I Love To Do</div> -->
  <div class="about__info d-flex">

<!--
    <div class="info__detail mt-1">
      <div class="row mt-4 info" style="max-width: 100%;">
        <div class="col-6">
          <p><strong>Name :</strong> {{user.name}}</p>
          <p><strong>Date of birth :</strong> {{user.dob}}</p>
          <p><strong>Nationality :</strong> {{user.nationality}}</p>
          <p class="d-flex"><strong style="margin-right: 5px;">English: </strong>
            {{user.english}}
          </p>
        </div>
        <div class="col-6">
          <p><strong>Hobby :</strong> Football, Swimming</p>
          <p><strong>Experience :</strong> None</p>
          <p><strong>Work:</strong> Student</p>
          <p class="d-flex flex-wrap" style="white-space: pre-line"><strong>Email: </strong>khanhdoan.kd@gmail.com</p>
        </div>
      </div>
    </div>
  -->
    <div class="info__img my-3">
      <p>I'm Đoàn Trần Phi Khánh, I'm a third year student at the University of Agriculture and Forestry</p>
      <strong>Short-term goal:</strong> Front-end developer
      <br>
      <strong>Long-term goal:</strong> Fullstack developer
    </div>
  </div>

</div>
